<!DOCTYPE html>
<html>
<head>
  <title>Todo List</title>
</head>
<body>
  <div id="todo-list">
    <% todos.forEach(function(todo) { %>
      <p>
        <%= todo.task %>
        <form action="/todos/<%= todo.id %>" method="put">
          <input type="text" name="task" value="<%= todo.task %>">
          <button type="submit">Edit</button>
        </form>
        <form action="/todos/<%= todo.id %>" method="delete">
          <button type="submit">Delete</button>
        </form>
      </p>
    <% }); %>
  </div>
  <form id="todo-form" action="/todos" method="post">
    <input type="text" name="task" placeholder="Enter a new task">
    <button type="submit">Add Todo</button>
  </form>
</body>
</html>
